<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secret battle plan to take over the world</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Content/css/lib/toastr.min.css" />
    <link rel="stylesheet" href="/Content/css/app.css" />
</head>
<body>
    <div class="page-container">
        <div>
            <div class="row vertical-align">
                <div class="col-xs-2">
                    <div class="circular-logo pull-right"></div>
                </div>
                <div class="col-xs-10">
                    <h1>You have got a message from Spymaster</h1>
                    <p class="text-xs-justify">
                        Congratulations agent! You just accessed the communications of SecFail. The only one clue we have to decrypt this message is [A ---> F]. Keep up the good work. <b>Alea jacta est!</b>
                    </p>
                    <p>
                        <div id="countdown">
                        </div>
                    </p>
                </div>
            </div>
        </div>

        <div class="card card-block text-xs-center div-top-margin">
            ny xjjrx ymfy tzw nshwjingqj jshwduynts fqltwnymr mfx gjjs htruwtrnxji. kwtr stb, bj bnqq zxj fs jshwduynts pjd.<br />
            yt ijhdumjw tzw htrrzsnhfyntsx:<br />
            1 - hqjfs ymj pjd gd wjrtansl jajwd wjizsifsy qjyyjw.<br />
            2 - rfu ymj pjd yt ymj knwxy qjyyjw tk ymj fqumfgjy.<br />
            3 - htruqjyj ymj yfgqj bnym ymj wjxy tk ymj fqumfgjy xyfwynsl kwtr ymj qfxy qjyyjw tk ymj pjd.<br />
            <br /><br />
            <u>jcfruqj bnym ifxmqfsj fx ymj pjd</u><br />
            <br /><br />
            fghijklmnopqrstuvwxyzabcde<br />
            ifxmqsjklnopqrtuvwyzabcdeg<br />
            hzwwjsyqd, bj fwj zxnsl kjfwnrufqf fx pjd<br />
            zxj ny yt ijhwduy dkbqnegjnkh. ymnx nx ymj ufxxbtwi yt fhhjxx tzw gfyyqj uqfs bnym ymj ktqqtbnsl ktwr.<br />
            <br />
            <br />
        </div>

        <div class="text-xs-center div-top-margin">
            <form method="GET" action="/Step9861" class="form-horizontal">
                <div class="form-group">
                    <label for="authtoken" class="col-sm-2 control-label">Auth token :</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="authtoken" type="text" name="authtoken" />
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password :</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="password" type="text" name="password"/>
                    </div>
                </div>
                <br />
                <br />
                <button class="btn btn-success">Get access</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="/Content/scripts/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/ponystream.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/toastr.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.signalR-2.2.1.min.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="/Content/scripts/app.js"></script>
</body>
</html>