<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secret battle plan to take over the world</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Content/css/app.css" />
</head>
<body class="intro-body">
    <div class="intro-container">
        <h1>Breaking news: We are under attack!</h1>
        <p>
            Ponies just forged a secret alliance in order to end human civilization and their first move should happen in less than 1 hour. We require your help to access their informations which should allow us to arrange a strike back plan or at least buy us time.
        </p>
        <p>
            Start your mission and don't fail. You're our only hope...
        </p>
        <div class="text-xs-center">
            If you already have your auth token, <a  class="btn btn-success" href="/Step1">let fight begin</a>. Otherwise it's time to <a href="/Register" class="btn btn-primary">register.</a> 
        </div>
    </div>
</body>
</html>