<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secret battle plan to take over the world</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Content/css/lib/toastr.min.css" />
    <link rel="stylesheet" href="/Content/css/app.css" />
</head>
<body>
    <div class="dashboard-container">
        <div>
            <div class="row vertical-align">
                <div class="col-xs-2">
                    <div class="circular-pinkie pull-right"></div>
                </div>
                <div class="col-xs-10">
                    <h1>Go! Go! Let's go!!!!!</h1>
                    <p>
                        <div id="countdown">
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <canvas id="score"></canvas>
    </div>
    <script type="text/javascript" src="/Content/scripts/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/ponystream.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/toastr.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.signalR-2.2.1.min.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="/Content/scripts/lib/chart.min.js"></script>    
    <script type="text/javascript">
    $(function () {
        var players = [];
        var scores = [];
        @Each.Scores
            players.push("@Current.Pseudo");
            scores.push(@Current.Step);
        @EndEach

        var scores = [{
            label: "Steps",
            data: scores,
            backgroundColor: scores.map(function(it) { return "rgba(255, 0, 0, 0.8)"; })
        }];

        var ctx = document.getElementById("score").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: players,
                datasets: scores
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true,
                                steps: 2,
                                stepSize: 1,
                                max: 3
                        }
                    }]
                }
            }
        });

        var notificationHub = $.connection.notificationHub;

        $.connection.hub.start().done(function () {});

        notificationHub.client.send = function (achievement) {
            var indexToUpdate = myChart.data.labels.indexOf(achievement.pseudo);
            myChart.data.datasets[0].data[indexToUpdate] = achievement.step;
            myChart.update();
            toastr.success(achievement.pseudo + " hacked step " + achievement.step);

        }

        $.get('/endoftheworld', function (endoftheworld) {
            $("#countdown").countdown(endoftheworld, function (event) {
                var totalMinutes = event.lasting.minutes + event.lasting.hours * 60;

                if (totalMinutes === 0 && event.lasting.seconds === 0) {
                    if (!$("#ponies").length) {
                        $('body').append('<div style="background-color:white;position:absolute;top:0;left:0;bottom:0;right:0;z-index:100;pointer-events: none; overflow: hidden;"><div class="page-container"><div><div class="row vertical-align"><div class="col-xs-2"><div class="circular-logo pull-right"></div></div><div class="col-xs-10"><h1>You have got a message from Spymaster</h1><p class="text-xs-justify">Hahahaha we got you, ponies won this time!!!!</p></div></div></div><div id="ponies" style="position: relative;overflow:hidden;height:60px;"></div></div></div>');

                        PonyStream.load([
                        '/Content/img/ponies/af.gif',
                        '/Content/img/ponies/bm.gif',
                        '/Content/img/ponies/cc.gif',
                        '/Content/img/ponies/cs.gif',
                        '/Content/img/ponies/dl.gif',
                        '/Content/img/ponies/ib.gif',
                        '/Content/img/ponies/jl.gif',
                        '/Content/img/ponies/km.gif',
                        '/Content/img/ponies/kr.gif',
                        '/Content/img/ponies/lw.gif',
                        '/Content/img/ponies/mk.gif',
                        '/Content/img/ponies/mt.gif',
                        '/Content/img/ponies/mu.gif',
                        '/Content/img/ponies/ni.gif',
                        '/Content/img/ponies/nk.gif',
                        '/Content/img/ponies/rs.gif',
                        '/Content/img/ponies/tj.gif',
                        '/Content/img/ponies/tl.gif',
                        '/Content/img/ponies/zf.gif'
                        ]);

                        PonyStream.start(ponies);
                    }
                } else {
                    $(this).html('Hurry up, only ' + totalMinutes + ' minutes and ' + event.lasting.seconds + ' secondes left');
                }
            });
        });
    });
    </script>
</body>
</html>