.intro-body {
    font-size: 100%;
    padding: 0;
    margin: 0;
    background: url('/content/img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.intro-container {
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 10px;
}

.notfound-container {
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.page-container {
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.circular-logo {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: rgba(0, 0, 0, 0.3) url('/content/img/logo.gif') no-repeat center;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.circular-notfound {
    width: 280px;
    height: 280px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: rgba(0, 0, 0, 0.3) url('/content/img/notfound.gif') no-repeat center;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    margin-left: auto;
    margin-right: auto;
}

.div-top-margin{
    clear: both;
    margin-top: 20px;
}

.code {
    padding: 0.2em;
    background-color: rgba(0,0,0,0.04);
}