<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secret battle plan to take over the world</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Content/css/lib/toastr.min.css" />
    <link rel="stylesheet" href="/Content/css/app.css" />
</head>
<body>
    <div class="page-container">
        <div>
            <div class="row vertical-align">
                <div class="col-xs-2">
                    <div class="circular-logo pull-right"></div>
                </div>
                <div class="col-xs-10">
                    <h1>You have got a message from Spymaster</h1>
                    <p class="text-xs-justify">
                        Awesome, you did it! We hope you had fun!!!!
                    </p>
                </div>
            </div>
        </div>

        <div class="card card-block text-xs-center div-top-margin">
            Cryptography, the use of codes and ciphers to protect secrets, began thousands of years ago.<br><br>
            Codes have influenced events throughout history, both in the stories of those who make them and those who break them.<br><br> 
            We really encourage you to take a look to the amazing story of secret codes :)
        </div>
    </div>
    <script type="text/javascript" src="/Content/scripts/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/ponystream.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/toastr.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.signalR-2.2.1.min.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="/Content/scripts/app.js"></script>
</body>
</html>