<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secret battle plan to take over the world</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Content/css/lib/toastr.min.css" />
    <link rel="stylesheet" href="/Content/css/app.css" />
</head>
<body>
    <div class="page-container">
        <div>
            <div class="row vertical-align">
                <div class="col-xs-2">
                    <div class="circular-logo pull-right"></div>
                </div>
                <div class="col-xs-10">
                    <h1>You have got a message from Spymaster</h1>
                    <p class="text-xs-justify">
                        Great job agent! You have never been that close to defeat SecFail. Though, they deployed a new powerful encryption algorithm. Fortunately, we have been able to obtain the specifications of their algorithm. If you can implement it, we should be able to obtain their final plan. The specifications are available <a href="https://fr.wikipedia.org/wiki/Chiffre_de_Vigenère" target="blank">here</a> and they use <b>canyoudoit</b> as key.
                    </p>
                    <p>
                        <div id="countdown">
                        </div>
                    </p>
                </div>
            </div>
        </div>

        <div class="card card-block text-xs-center div-top-margin">

            aoh yfy wcw lvrblu! qh viog tb ewph ix yqr amk. qh kqen grr wh wccvj wvrv sri eagn jc kcoz ptxe smihg o jxvtrp dfdb igf a pmijos axpibp giihette rlucqsmku.<br><br>

            wugzy zoqmknt, wco fov kgaq rvcv dwxo bl esldfl wg nrpjuo pmvcufc, kyoz, qm ks ecofom ipgsbks.<br><br>

            yo rmlfipfoxr<br><br>

            xm lwif js néqépzxwx, - yc jyxt, - t'bpcblgioé,<br>
            zm itiaas x'decbvavls à fd hwnt aomzch :<br>
            ai lguyc snrwtx gsg kclws, - mm ooa jink qwgutrjzé<br>
            jrfbx ne fmzylz vhkr qc zu pézigeoygs.<br><br>

            xdba ec nhgh xx hwfdens, hil ecb o'af achvcté,<br>
            kgnqq-ail zm icufgzcsdm xv ln ksl g'wbtnir,<br>
            jo zosck suv nzulgibv tnlh à grb khgue bégioé,<br>
            sb ec tecwfos wù eg pnkdlh à zi kqsr q'ofowm.<br><br>

            lwif-hs upcck qu cfépov ?... zclkgayb ix pqkqn ?<br>
            zmb zucvm gsg pcojs mgeoe bi vdwaxt dr jo lhwvx ;<br>
            l'av pêjé xdba ec gemhnh cù vtie yy gcuèbm...<br><br>

            xv j'ng ryxl nhks iywhtimnt teyjyugé t'tehéemb :<br>
            grrcecng rcou à hwnt shp zu omzx f'oenvéy<br>
            osa lqucgfm gs tt uavlhy hh txu cegg xh zi yég.`<br><br>
        </div>
    </div>
    <script type="text/javascript" src="/Content/scripts/lib/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/ponystream.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/toastr.min.js"></script>
    <script type="text/javascript" src="/Content/scripts/lib/jquery.signalR-2.2.1.min.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="/Content/scripts/app.js"></script>
</body>
</html>