<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <Title>Page not found</Title>
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/favicon-16x16.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous" />
    <link rel="stylesheet" href="/Content/css/app.css" />
</head>
<body>
    <div>
        <div class="notfound-container">
            <div class="circular-notfound">
            </div>
            <h1>Hey sweetie, what are you looking for?</h1>
        </div>
    </div>
</body>
</html>